@font-face {
    font-family: Cairo;
    src: url(../public/fonts/Cairo-Regular.ttf);
}
* {
    font-family: Cairo;
}
body, html {
    scroll-behavior: smooth;
}
.kaaf .color-light {
    color: #F5FBFF;
}
.kaaf .color-grey {
    color: #00000080;
}
.container {
    max-width: 90%;
}
.kaaf nav {
    background: #00000005;
}
.kaaf nav .navbar-nav a {
    color: #000;
}
.kaaf nav .navbar-nav a.active {
    color: #024F81;
}
.kaaf .text-blue {
    color: #024F81;
}
.kaaf .bg-blue {
    background: #024F81;
}
.kaaf .btn.bg-blue:hover {
    background: #013050;
}
.kaaf nav .actions .btn {
    background: #024F81;
    box-shadow: 0px 8px 12px 0px #024F811A;
    padding: 12px 50px;
    border: solid 1px #024F81;
    transition: .5s;
}
.kaaf .nav-link.active {
    color: #024F81;
}
.kaaf nav .actions .btn:hover {
    color: #024F81!important;
    background: #fff;
}
.kaaf .learn {
    background: url('../public/images/learn-bg.png') no-repeat bottom center;
}
.kaaf .learn .title {
    font-size: 2.5rem;
    max-width: 80%;
}
.kaaf .shadow-blue {
    box-shadow: 0px 8px 18px 0px #0063A452;
}
.kaaf .carousel-text-img {
    height: 64px;
    width: 64px!important;
}
.kaaf .brief .text {
    width: 100%;
}
.kaaf .brief-image {
    width: 100%;
}
.kaaf .brief-image img {
    display: block;
    width: 50%;
    margin: auto;
}
.kaaf .learn > div {
    width: 100%;
}
.kaaf .learn .header-image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.kaaf .learn .header-image img {
    width: 35%;
}
.kaaf .learn .text {
    padding: 200px 0;
    background: url('../public/images/bg-kaaf.png') no-repeat center;
    background-size: cover;
}
.kaaf .image-carousel {
    position: relative;
}
.kaaf .image-carousel::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: url('../public/images/phone-cover.png') center no-repeat;
    background-size: contain;
    overflow: hidden;
}
.kaaf .image-carousel img {
    width: 100%;
    margin: auto;
}
.kaaf .carousel-item-animation {
    animation: carousel 1s ease-in-out;
}
.kaaf .nav-item a:hover {
    color: #024F81;
}
.kaaf .owl-carousel .owl-stage-outer {
    border-radius: 30px;
}
@keyframes carousel {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.kaaf .carousel-title::after {
    content: "";
    position: absolute;
    bottom: -20%;
    height: 4px;
    width: 100%;
    background: #B99E67;
    right: 0;
}
.kaaf .owl-nav {
    height: 80px;
    width: 80px;
    transition: .5s;
    border-radius: 50%;
    cursor: pointer;
}
.kaaf .owl-nav.next {
    background: #0000001A url('../public/images/next.png') no-repeat center;
}
.kaaf .owl-nav.prev {
    background: #0000001A url('../public/images/prev.png') no-repeat center;
}
.kaaf .owl-nav.next:hover {
    background: #B99E67 url('../public/images/next-active.png') no-repeat center;
}
.kaaf .owl-nav.prev:hover {
    background: #B99E67 url('../public/images/prev-active.png') no-repeat center;
}
.kaaf .kaaf-bg {
    background: url('../public/images/rect-bg.png') center no-repeat;
    background-size: 100%;
}
.kaaf .how {
    background: #024F81 url('../public/images/how-bg.png') no-repeat top right;
}
.kaaf .how .number {
    height: 70px;
    width: 70px;
    background: #FFFFFF4D;
    border-radius: 50%;
    font-size: 2rem;
}
.kaaf footer {
    background: #00000005;
}
.kaaf footer ul {
    list-style: none;
}
.kaaf footer ul a {
    text-decoration: none;
    color: #000;
}
.kaaf .en {
    padding: 10px 40px;
    border: solid 1px #024F81;
    border-radius: 20px;
    color: #024F81;
    transition: .5s;
    font-size: 1.5rem;
    text-decoration: none;
}
.kaaf .en:hover {
    background: #024F81;
    color: #fff;
}
.kaaf .social-item {
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #D9D9D94D;
    border-radius: 50%;
}
.kaaf .phone-cover {
    padding: 3%;
    width: 100%;
    margin: auto;
    position: relative;
    overflow: hidden;
}
.kaaf .screen-carousel {
    background: url('../public/images/bg-kaaf.png') no-repeat center 100%;
    background-size: contain;
}
@media (max-width: 786px) {
    .kaaf .actions {
        margin: 20px 0;
        flex-direction: column;
        gap: 20px!important;
        align-items: flex-start!important;
    }
    .kaaf .actions a, .actions .btn {
        width: 100%;
    }
    .kaaf .learn {
        flex-direction: column;
        gap: 50px;
        padding: 0!important;
    }
    .kaaf .learn .overlay {
        display: none;
    }
    .kaaf .brief-image {
        width: 100%;
    }
    .kaaf .brief-image img {
        width: 100%;
    }
    .kaaf .text-content {
        position: relative!important;
        top: 0!important;
        transform: none!important;
    }
    .kaaf .text-content .title {
        font-size: 1.5rem;
        max-width: 80%;
        text-align: center;
        margin: auto;
    }
    .kaaf .owl-carousel .image-carousel img {
        width: 100%!important;
    }
    .kaaf .header-image {
        padding: 0!important;
        margin: auto!important;
        width: 80%;
    }
    .kaaf .owl-carousel .btn.mt-5 {
        margin-top: 20px!important;
    }
    .kaaf .header-image img {
        width: 50%;
        margin: auto;
        display: block;
    }
    .kaaf .teacher {
        padding: 0!important;
        margin: 0!important;
    }
    .kaaf .brief {
        flex-direction: column;
        margin: 0!important;
    }
    .kaaf .owl-nav {
        transform: scale(.75);
    }
    .kaaf .teacher .mt-5.d-flex {
        margin-top: 20px!important;
    }
    .kaaf .student {
        margin: 0!important;
    }
    .kaaf .owl-carousel .item {
        flex-direction: column;
    }
    .kaaf .how .row {
        gap: 50px;
    }
    .kaaf footer > .container > .d-flex {
        flex-direction: column;
        gap: 30px;
    }
    .kaaf .student .item {
        flex-direction: column-reverse;
    }
    .kaaf .nav-container {
        max-width: 100%!important;
        padding: 0;
    }
    .kaaf .nav-container nav {
        margin-top: 0!important;
    }
    .kaaf .how span {
        font-size: 1rem!important;
        max-width: 80%;
    }
    .kaaf .brief p.fs-3 {
        font-size: 1.2rem!important;
    }
    .kaaf .learn .text {
        padding: 50px 0;
    }
    .kaaf .image-carousel {
        margin: 50px auto;
    }
    .kaaf .screen-carousel {
        width: 80%;
        margin: auto;
    }
}